* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
    color: black;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    color: #5c331f;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.navbar a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: initial;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-content {
    max-width: 550px;
}

.small-title {
    color: #a65f35;
    font-size: 20px;
    font-family: initial;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 65px;
    line-height: 1.05;
    margin-bottom: 25px;
    font-family: initial;
}

/* Coffee Image */
.hero-image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.hero-content p{
font-family: initial;    
}


.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 13px 25px;

    background: #6f3f26;
    color: white;

    border: none;
    text-decoration: none;
    cursor: pointer;

    transition: 0.3s;
}

.btn:hover {
    background: #a65f35;
}
.section-title {
    text-align: center;
    margin-bottom: 45px;
}

.section-title p,
.section-small {
    color: #a65f35;
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 10px;
}

.section-title h2,
.about-content h2 {
    font-size: 40px;
}

.menu-section {
    padding: 90px 7%;
}

.menu-buttons {
    text-align: center;
    margin-bottom: 40px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;

    border: 1px solid #6f3f26;
    background: transparent;
    color: #6f3f26;

    cursor: pointer;
}
.filter-btn.active,
.filter-btn:hover {
    background: #6f3f26;
    color: white;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.coffee-card {
    background: white;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(70, 40, 20, 0.08);
}

.coffee-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.coffee-card h3 {
    margin: 20px 0 10px;
}

.coffee-card p {
    color: #806d60;
    padding: 0 20px;
    line-height: 1.5;
}

.coffee-card span {
    display: block;
    color: #a65f35;
    font-weight: bold;
    margin: 15px 0;
}

.order-btn {
    border: 1px solid #6f3f26;
    background: transparent;
    color: #6f3f26;
    padding: 10px 18px;
    cursor: pointer;
}


.about {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 90px 7%;
    background: #f3e8dd;
}

.about-image,
.about-content {
    width: 50%;
}

.about-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.about-content h2 {
    margin-bottom: 25px;
}

.about-content p {
    color: #725b4d;
    line-height: 1.7;
    margin-bottom: 18px;
}


.offers {
    min-height: 430px;
    padding: 80px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background:
        linear-gradient(rgba(50, 25, 15, 0.7), rgba(50, 25, 15, 0.7)),
        url("images/offer.jpg") center/cover;
}

.offer-content {
    color: white;
}

.offer-content > p:first-child {
    letter-spacing: 3px;
}

.offer-content h2 {
    font-size: 50px;
    margin: 20px 0;
}

.offer-content p {
    line-height: 1.6;
    margin-bottom: 25px;
}


/* ================= GALLERY ================= */

.gallery {
    padding: 90px 7%;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.03);
}


/* ================= CONTACT ================= */

.contact {
    padding: 90px 7%;
    background: #f3e8dd;
}

.contact-container {
    max-width: 1000px;
    margin: auto;

    display: flex;
    gap: 60px;
}

.contact-info,
.contact-container form {
    width: 50%;
}

.contact-info h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.contact-info p {
    margin: 15px 0;
    color: #725b4d;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    width: 100%;
    padding: 14px;

    border: 1px solid #d4c1b3;
    outline: none;

    font-family: inherit;
}

textarea {
    resize: vertical;
}


/* ================= FOOTER ================= */

footer {
    background: #3b2418;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    margin: 8px;
}

.copyright {
    font-size: 13px;
    opacity: 0.7;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {

    .nav-links {
        display: none;

        position: absolute;
        top: 75px;
        left: 0;

        width: 100%;

        background: #fffaf5;

        flex-direction: column;
        text-align: center;

        padding: 25px;
        gap: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero-content,
    .hero-image {
        width: 100%;
    }

    .hero-image {
        height: 400px;
    }

    .hero-content {
        padding: 60px 7%;
    }

    .hero-content h1 {
        font-size: 48px;
    }

    .menu-container {
        grid-template-columns: 1fr;
    }

    .about {
        flex-direction: column;
    }

    .about-image,
    .about-content {
        width: 100%;
    }

    .gallery-container {
        grid-template-columns: 1fr;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-info,
    .contact-container form {
        width: 100%;
    }

    .offer-content h2 {
        font-size: 38px;
    }
}